<div class="container">
  <div class="card m-4 p-4">
    <form [formGroup]="subjectForm" (submit)="addSubject()">
      <div class="form-group mt-2">
        <label> Name: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Science"
          formControlName="name"
        />
        <small
          class="text-danger"
          [class.d-none]="
            subjectForm.get('name')?.valid || subjectForm.get('name')?.untouched
          "
          >required</small
        >
      </div>
      <div>
        <label> Grade: </label>
        <select class="form-select" formControlName="grade">
          <option selected disabled value="">-- Select One --</option>
          <option *ngFor="let c of classrooms" [value]="c.clsid">
            {{ c.grade }}
          </option>
          <small
            class="text-danger"
            [class.d-none]="
              subjectForm.get('grade')?.valid ||
              subjectForm.get('grade')?.untouched
            "
            >required</small
          >
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-4 mb-2"
        [disabled]="subjectForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
