<ng-template [ngIf]="roleData.student">
  <table class="table tableStyle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of subjectListByGrade">
        <td>{{ s.subid }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.grade }}</td>
        <td>
          <a
            *ngIf="s.submit_id! > 0"
            style="cursor: pointer; color: blue"
            routerLink="/question/review/{{ student.student[0].stuid }}"
            >Review</a
          >
          <a
            *ngIf="s.submit_id == null"
            style="cursor: pointer; color: blue"
            routerLink="/question/student/{{ s.subid }}"
            >Click</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template [ngIf]="roleData.admin">
  <table class="table tableStyle">
    <thead>
      <tr>
        <th className="col-1">#</th>
        <th>Subject</th>
        <th>Grade</th>
        <th>View</th>
        <th>Status</th>
        <th className="col-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of subjectList">
        <td>{{ s.subid }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.grade }}</td>
        <td>
          <a
            style="cursor: pointer; color: blue; text-decoration: none"
            routerLink="/question/subject/{{ s.subid }}"
            >Click</a
          >
        </td>
        <td>{{ s.status == 0 ? "Deactive" : "Active" }}</td>
        <td *ngIf="s.status == 0">
          <button
            class="btn btn-success"
            (click)="updateSubjectStatus(1, s.subid)"
          >
            Active
          </button>
        </td>
        <td *ngIf="s.status == 1">
          <button
            class="btn btn-danger"
            (click)="updateSubjectStatus(0, s.subid)"
          >
            Deactive
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
