<ng-template [ngIf]="roleData.student">
  <table class="table tableStyle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</ng-template>

<ng-template [ngIf]="roleData.admin">
  <table class="table tableStyle">
    <thead>
      <tr>
        <th className="col-1">#</th>
        <th>Subject</th>
        <th>Grade</th>
        <th>View</th>
        <th>Status</th>
        <th className="col-2">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</ng-template>
