<app-add-subject></app-add-subject>

<h1>Subject List</h1>
<div class="container">
  <table class="table tableStyle">
    <thead>
      <tr>
        <th class="col-1">ID</th>
        <th>Name</th>
        <th>Grade</th>
        <th class="col-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of subject; let i = index">
        <td>{{ s.subid }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.grade }}</td>
        <td>
          <button class="btn-success">Edit</button>
          <button class="btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
