<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/dashboard">Online Exam System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" *ngIf="isAdminLogging">
      <li class="nav-item">
        <a class="nav-link" routerLink="/post-question">Question</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/classroom">Classroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subject">Subject</a>
      </li>
    </ul>

    <ul
      class="navbar-nav mr-auto"
      *ngIf="isAdminLogging || isStudentLogging; else loggedOut"
    >
      <li class="nav-item active">
        <a class="nav-link" routerLink="/exam">Exam TimeTable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-in" (click)="logout()"
          >Sign out</a
        >
      </li>
    </ul>
    <ng-template #loggedOut>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/sign-in">Sign in</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin-sign-in">Admin</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
